.contenter {
    box-shadow: 10px 10px 5px #888;
    /*background: url("../img/bg1.png") no-repeat;*/
    text-align: center;
    /*background-size: cover;*/
    /*z-index: 1;*/
    overflow: hidden;
    width: 100%;
    height: 101%;
    top: 0;
    /*left: 0;*/
    position: fixed !important
}

.phone_img {
    width: 30%;
    height: 100%;
    margin-left: 15%;
    float: left;
}


.right_dow {
    width: 50%;
    height: 100%;
    float: right;
    overflow: hidden
}

.down_btn {
    width: 40%;
    height: 100%;
    float: left
}

.down_btn div {
    width: 45%;
    height: 4rem;
    background-color: pink;
    border-radius: 10px;
    margin: 10px 0 10px 10%;
    cursor: pointer;
    display: flex;
    box-shadow: 5px 5px 5px #888
}

.down_btn div:hover {
    background: rgba(0, 0, 0, 0.1)
}

.down_btn img {
    width: 15%;
    float: left;
    margin: 3% 1% 3% 10%
}

.down_btn span {
    float: left;
    margin: 6% 0 0 5%;
    color: #fff
}