<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>灵魂摆渡第二季【电视剧】第1集</title>
    <meta name="description" content="clicli视频弹幕网站，这里有最及时的动漫新番，最棒的ACG氛围，最有创意的Up主。大家可以在这里找到许多欢乐。">
    <meta name="keywords"
          content="Clicli,Cliclitv,C哩C哩,C哩C哩动画,C哩C哩弹幕网,弹幕视频,C站,弹幕,字幕,AMV,MAD,MTV,ANIME,动漫,动漫音乐,游戏,游戏解说,二次元,游戏视频,ACG,galgame,动画,番组,新番,初音,洛天依,vocaloid,日本动漫,国产动漫,手机游戏,网络游戏,电子竞技,ACG燃曲,ACG神曲,追新番,新番动漫,新番吐槽,巡音,镜音双子,千本樱,初音MIKU,舞蹈MMD,MIKUMIKUDANCE,洛天依原创曲,洛天依翻唱曲,洛天依投食歌,洛天依MMD,vocaloid家族,OST,BGM,动漫歌曲,日本动漫音乐,宫崎骏动漫音乐,动漫音乐推荐,燃系mad,治愈系mad,MAD MOVIE,MAD高燃">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="spm_prefix" content="333.851">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <script src="../../../js/jQuery/jQuery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--公共css-->
    <link rel="stylesheet" type="text/css" href="https://apersonxx.github.io/css/base.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../../css/commponents.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
<!--头部-->
<div class="header_m">
    <div style="width: 100%;height: 100%;"><a href="https://apersonxx.github.io/">
        <img src="img/logo_cnicni.png" style="height: 3rem;"/>
    </a>
    </div>
    <div >
        <a href="https://apersonxx.github.io/app/download.html" class="btn btn-danger" role="button">下载App</a>
    </div>
</div>
<!--视频以及推荐-->
<div class="v-wrap">
    <!--视频详情左-->
    <div class="v_left">
        <div class="v_video">
            <iframe id="vid" src="https://www.1717yun.com/jx/ty.php?url=https://www.iqiyi.com/v_19rrksx6gs.html" width="100%" height="410" frameborder="0" allowfullscreen="true"></iframe>
        </div>
        <div class="v_title">
            <h3>灵魂摆渡第二季【电视剧】第1集</h3>
            <span title="总播放数">xx播放</span>&nbsp;&nbsp;<span> xx弹幕</span>
        </div>
        <hr>
        <!--留言板块-->
        <div id="app" class="app">
            <h4>评论</h4>
            <div class="comment">
                <textarea type="text" v-model="title" class="form-control" placeholder="(测试版本)不要害羞,来说点什么吧≖‿≖✧" name="" cols="30" rows="5"></textarea>

                <button @click="addList()" class="btn btn-success" style="float: right;margin-top: 10px">发送</button>
            </div>

            <ol>
                <li>
                    <div class="d_left">
                        <img src="img/tianqi.png" alt="头像">
                    </div>
                    <div class="d_right">
                        <a href="#">{{msg}}</a>
                        <span>{{233}}楼</span>
                        <p>敲一夜代码，流两行老泪；用三种语言，唯四肢受罪 ； 待五更鸡鸣，遇骤雨初歇；遂登门而去，伫十里长亭；欲望穿泪眼，无如意郎君；借微薄助力，愿寻得佳偶；成比翼双鸟，乃畅想云端；卷情网之内，做爬虫抓取；为连理桂枝,容数据分析；思千里子规，助框广天地； 念茫茫人海，该如何寻觅？</p>
                    </div>
                </li>
                <li v-for="(item,key) in list" >
                    <div class="d_left">
                        <img src="img/tianqi.png" alt="头像">
                    </div>
                    <div class="d_right">
                        <a href="#">{{msg}}</a>
                        <span>{{key+1}}楼</span>
                        <button @click="removeData(key)" class="btn btn-danger">删除</button>
                        <p>{{item}}</p>
                    </div>


                </li>
            </ol>

            <div class="comment">
                <textarea type="text" v-model="title" class="form-control" placeholder="(测试版本)不要害羞,来说点什么吧≖‿≖✧" name="" cols="30" rows="5"></textarea>

                <button @click="addList()" class="btn btn-success" style="float: right;margin-top: 10px">发送</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            msg:'游客',
            list:[],
            title:'',
        },
        methods:{
            addList () {
                if(this.title ==''){
                    alert('请输入您的留言')
                }else {
                    this.list.push(this.title);
                    this.title='';
                }
                localStorage.setItem('list',JSON.stringify(this.list));

            },
            removeData(key){
                this.list.splice(key,1);
                localStorage.setItem('list',JSON.stringify(this.list));

            }
        },
        mounted() {
            var dataList = JSON.parse(localStorage.getItem('list'));
            if(dataList){
                this.list=dataList;
            }
        }
    });
</script>
<script src="../../../video/js/components.js"></script>
<script src="../../../js/component.js"></script>